@tailwind base;
@tailwind components;

@tailwind utilities;

@layer utilities {
    .hoverable:hover {
        color: var(--text-color);
      }
      
      .hoverable-borders:hover{
        border-color: var(--text-color);
      }
      
      .custom-text-color{
        color: var(--text-color) !important;
      }
      
      .hoverable-background:hover{
        background-color: var(--text-color);
      }

      .parent:hover .son-background{
        background-color: var(--text-color);
        opacity: 1;

      }
      .parent:hover .son-color{
          color: var(--text-color);
      }
      .parent-shadow:hover {
        box-shadow: var(--text-color) 0px 8px 24px;
      }

      .custom-bg {
        background-color: var(--text-color);
      }

      .custom-focus:focus {
        
          border: 2px solid var(--text-color) !important;
        
        
      }
      

      .ColJavaScript {
        color: #f0db4f; /* Amarillo */
    }
    
    .ColTypeScript {
       color: #007acc; /* Azul */
    }
    
    .ColPython {
        color: #306998; /* Azul oscuro */
    }
    
    .ColCSharp {
        color: #68217a; /* Púrpura */
    }
    
    .ColPHP {
       color: #8993be; /* Azul grisáceo */
    }
    
    .ColRust {
       color: #000000; /* Negro */
    }
    
      
}
